
* {
    padding: 0;
    margin: 0;
}

#myinfo, #allvideo {
    display: inline-block;
    background-color: burlywood;
    position: relative;

}

#myinfo {
    width: 15%;
    height: 100%;
}

#allvideo {

    height: 100%;
    width: 78%;
    vertical-align: bottom;
    background-color: blue;
    transform: scalex(-1);
}

#writeMsg {
    width: 70%;
    border-color: transparent;
    border-radius: 5px;
}

#sendMsg {

    background-color: #ffd6a0;
    color: #9c845e;
    border-color: transparent;
    border-radius: 5px;
    width: 20%;
}

#speaktext {

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: aliceblue;
    width: 100%;
    overflow-y: scroll;
    -ms-word-break: break-all;
    word-break: break-all;

}

#video {
    width: 100%;
}

#body {
    margin-top: 10px;
    background-color: antiquewhite;
}

#thesend{
    margin-top: 5px;
}
#talk,#myvideo{

    padding: 5px 5px;
}
.videoSize{
    height: 45%;
    width: 23%;
}

.say{

}

#test,.allname{
    color:#fff;
    z-index: 3;
    position: absolute;
}
.otherVideo{
    position: relative;
    right:0px;
}
/*.iSay{
    !*transform: scalex(-1);*!
    -webkit-writing-mode: rl;
}*/
.otherSay{
    text-align: right;
}
